{{ define "main" }}
<section>
  <main class="container">
    <h1 id="article-title">{{ .Title }}</h1>
    <h4 id="article-info">
      <!-- <span class="tag is-link">{{ .ReadingTime }} Minutes</span> -->
      <span>{{ .Date.Format "Jan 2, 2006" }}</span>
      <span>\\</span>
      <span>{{ .WordCount }} Words</span>
    </h4>

    <article data-pagefind-body>
      {{ .Content }}
    </article>
  </main>

  <div class="container" id="pagination-container">
    {{ with .PrevInSection }}
    <span>Previous Post: <a class="previous" href="{{ .Permalink }}">{{.Title}}</a></span>
    {{ end }}
    {{ with .NextInSection }}
    <span>Next Post: <a class="next" href="{{ .Permalink }}">{{.Title}}</a></span>
    {{ end }}
  </div>
</section>
{{ end }}