{{ define "main" }}
  <main class="container">
    <header>
      <h1 id="site-title">{{ .Title }}</h1>
    </header>
    <div class="homepage-content-container">
      <div class="grid">
        <a class="homepage-link" href="/">Link 1</a>
        <a class="homepage-link" href="/">Link 2</a>
        <a class="homepage-link" href="/">Link 3</a>
      </div>
    </div>
    <br>
    <div class="homepage-content-container">
      {{ range first 3 .Site.RegularPages }}
          {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}
